@import url('global.css');

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 0 0 auto;
}

footer {
    flex: 1;
}

.container_header{
    margin: 2rem 0 0 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logout, .perfil{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout img, .perfil img{
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

.logout h1, .perfil h1{
    font-size: 1.7rem;
    color: #094C71;
}

.startech img{
    width: 15rem;
    height: 7rem;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container_imagem{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10rem;
}

.container_informacoes{
    margin: 15rem 0 0 15rem;
}

.titulo_seta{
    display: flex;
}

.titulo_seta h1{
    font-family: 'Inter';
    font-size: 3rem;
    color: #094C71;
    font-weight: normal;
    width: 35rem;
}

.botoes{
    flex-direction: column;
    display: flex;
    gap: 2rem;
}

.consultar, .maquinas{
    width: 30rem;
    height: 6rem;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.consultar:hover{
    background-color: #6f2ed1;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(138, 56, 245, 0.3);
}

.maquinas:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(9, 76, 113, 0.25);
}

.consultar{
    background-color: #8A38F5;
    color: white;
}

.maquinas{
    color: #094C71;
    border: 1px solid #8A38F5;
}

.titulo_seta img{
    margin-left: 3rem;
}

footer{
    background-color: #094C71;
    height: 100%;
}

.container_footer{
    display: flex;
    justify-content: space-between;
}

.container_footer h3{
    font-family: 'Inter';
    font-size: 3.5rem;
    color: white;
    width: 40rem;
    margin: 5rem 0 0 15rem;
}

span{
    color: #8A38F5;
}

.container_footer{
    min-height: 100%;
}

.card_dica{
    min-height: 100%;
}

.texto_card{
    position: relative;
    margin-right: 10rem;
    min-height: 100%;
    bottom: 0rem;
    border-radius: 4rem;
    background: linear-gradient(180deg,rgba(138, 56, 245, 1) 0%, rgba(81, 33, 143, 1) 100%);
}

.texto_card h1{
    margin-top: 1.5rem;
    font-family: 'Inter';
    font-size: 2rem;
    color: white;
    padding: 2rem;
    font-weight: normal;
    border: 1px solid #E46CFF;
    border-radius: 4rem;
}

.dicas_importantes h2{
    font-family: 'Inter';
    font-size: 3rem;
    color: #094C71;
    font-weight: normal;
    background-color: #EAF7FE;
    width: 25rem;
    height: 5rem;
    border-radius: 1rem;
    text-align: center;
    displaty: flex;
    align-items: center;
    margin: 5rem 0 0 15rem;
}