@import 'global.css';

header {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    padding: 3.6rem 1.6rem 3.6rem 3.7rem;
    justify-content: space-between;
}

body {
    background-color: #094C71;
    padding-bottom: 5.9rem;
}

.botaoVoltar {
    display: flex;
    gap: 3.5rem;
    font-size: 2.5rem;
    color: #094C71;
    font-weight: 700;
    background-color: transparent;
    border-style: none;
    align-items: center;
}

nav {
    display: flex;
    gap: 4.5rem;
}

nav p {
    color: #488DB2;
    font-size: 2.5rem;
    font-weight: 700;
}

main {
    display: flex;
    background-image: url('../../assets/img/fundo-edicao.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 26rem;
    border-bottom-left-radius: 26rem;
    padding-top: 7.3rem;
    padding-bottom: 5.9rem;
    justify-content: center;
}

form {
    background-color: #ffffff;
    border-radius: 3.6rem;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.42);
    padding: 3.6rem 3.3rem;
    width: 82.7rem;
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}

form h3 {
    color: #094C71;
    font-size: 2.5rem;
    font-weight: 600;
    padding: .8rem 2.4rem;
    background-color: #D3F0FF;
    width: fit-content;
    border-radius: 1.5rem;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
    color: #094C71;
}

form p {
    font-size: 2rem;
    font-weight: 500;
    color: #094C71;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

label {
    padding-left: 2.2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #094C71;
}

input, select, #botaoFotos {
    padding: 1.8rem 2.2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 5rem;
    background-color: #F9F9F9;
    border-style: none;
}

.inputTexto {
    color: #000000;
}

.inputDataHora {
    color: #A0AAAF;
}

input::placeholder, select {
    color: #A0AAAF;
}

#botaoFotos {
    display: flex;
    justify-content: baseline;
    color: #A0AAAF;
}

.botoes {
    display: flex;
    align-self: flex-end;
    gap: 2.5rem;
}

.botoes button {
    width: 23.8rem;
    height: 6rem;
    font-size: 2.5rem;
    font-weight: 700;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

.cancelar {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: .2rem;
    border-color: rgba(0, 0, 0, 0.1);
}

.enviar {
    background: linear-gradient(270deg, #1291D5 0%, #094B6F 100%);
    border-style: none;
    color: #FFFFFF;
}

#fotos {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../img/seta_baixo.png');
    background-repeat: no-repeat;
    background-position: right 1.8rem center;
}

.grid {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
    grid-auto-rows: 8rem;
    justify-content: space-between;
    row-gap: 1.5rem;
}

.grid figure {
    width: 100%;
    height: 100%;
}

.grid figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}