<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../templates/assets/css/atendimentotec.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimento Técnico</title>
</head>

<body>
    <main>

        <div class="container_chamados">

            <figure class="seta_voltar">
                <img src="../templates/assets/img/seta_voltar.png" alt="seta azul">
            </figure>

            <h1>Chamados</h1>

            <figure class="icone_perfil">
                <img src="../templates/assets/img/perfil_tecnico.png" alt="Icone do perfil do técnico">
            </figure>
            <h3 class="perfil">Perfil</h3>

            <figure class="icone_logout">
                <img src="../templates/assets/img/menu-logout.png" alt="Icone de logout">
            </figure>
            <h3 class="logout">Logout</h3>

            <div class="container_pesquisa">
                <figure>
                    <img src="../templates/assets/img/lupa.png" alt="lupa de pesquisa">
                </figure>

                <input type="text" id="pesquisa" placeholder="Busque por um Cliente, UF, CNPJ ou Código da Máquina!">
            </div>

            <div class="btn_procurar">
                <button type="submit">Procurar</button>
            </div>
        </div>


        <div class="container_blocos">

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>


              <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

            <div class="bloco">
                <div class="topo_bloco">
                    <h2>Cliente: UNEB</h2>
                </div>
                <div class="conteudo_bloco">
                    <p class="status aberto">Status: Em aberto</p>
                </div>
            </div>

        </div>
    </main>

    <script src="../templates/assets/js/atendimentotec.js" defer></script>
</body>

</html>