<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhamento de chamado</title>
    <link rel="stylesheet" href="/templates/assets/css/detalhamento_de_chamados_tecnico.css">
</head>

<body>
    <main>

        <div class="conteudo_superior">

            <div class="topo">
                <button class="voltar">
                    <figure>
                        <img src="/templates/assets/img/seta_voltar.png" alt="">
                    </figure>
                </button>
                <div class="direita">
                    <button class="perfil">
                        <figure>
                            <img src="/templates/assets/img/perfiltec.png" alt="">
                        </figure>
                        Perfil
                    </button>

                    <button class="logout">
                        <figure>
                            <img src="/templates/assets/img/menu-logout.png" alt="">
                        </figure>
                        Logout
                    </button>
                </div>
            </div>

            <h1>Chamados</h1>
            </div>

        <div class="informacoes">

            <div class="sobreochamado">

                <div class="linha">

                    <div class="cliente">
                        <p class="titulo">Cliente:</p>
                        <p class="campo">UNEB</p>
                    </div>

                    <div class="data">
                        <p class="titulo">Data:</p>
                        <p class="campo">14/04/2026</p>
                    </div>


                </div>

                <div class="linha">

                    <div class="status">
                        <p class="titulo">Status:</p>
                        <p class="campo">Em aberto</p>
                    </div>

                    <div class="cnpj">
                        <p class="titulo">CNPJ:</p>
                        <p class="campo">AB.123.CDE/0001-XY</p>
                    </div>


                </div>

                <div class="linha">

                    <div class="uf">
                        <p class="titulo">UF:</p>
                        <p class="campo">BA</p>
                    </div>

                    <div class="localizacao">
                        <p class="titulo">Localização do chamado:</p>
                        <p class="campo">Salvador</p>
                    </div>


                </div>

                <div class="linha">

                    <div class="contato">
                        <p class="titulo">Contato:</p>
                        <p class="campo">(71) 97726-5052</p>
                    </div>

                    <div class="vazia">
                        <p class="titulo"></p>
                        <p class="campoo"></p>
                    </div>
                </div>
            </div>

            <div class="sobreamaquina">

                <div class="linha">
                    <div class="nomemaquina">
                        <p class="titulo">Nome da máquina:</p>
                        <p class="campo">Ar condicionado</p>
                    </div>

                    <div class="codigo">
                        <p class="titulo">Código da Máquina:</p>
                        <p class="campo">001</p>
                    </div>
                </div>

                <div class="linha_descricao">

                    <div class="descricao">
                        <p class="titulo">Descrição:</p>
                        <p class="campodescricao">A máquina está apresentando falhas durante o funcionamento, com
                            interrupções inesperadas no processo e ruídos incomuns.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="fotos">
            <div class="grid-fotos">

                <figure>
                    <img src="/templates/assets/img/img-chamado1.png" alt="">
                </figure>

                <figure>
                    <img src="/templates/assets/img/img-chamado2.png" alt="">
                </figure>

                <figure>
                    <img src="/templates/assets/img/img-chamado3.png" alt="">
                </figure>

                <figure>
                    <img src="/templates/assets/img/img-chamado4.png" alt="">
                </figure>

                <figure>
                    <img src="/templates/assets/img/img-chamado5.png" alt="">
                </figure>

                <figure>
                    <img src="/templates/assets/img/img-chamado6.png" alt="">
                </figure>
            </div>
        </div>

        <div class="botoes">
            <button class="concluido">Marcar como concluído</button>
            <button class="cancelar">Cancelar</button>

            <button class="responsabilizarse">Responsabilizar-se</button>
        </div>
    </main>
    <script src="/templates/assets/js/detalhamento_de_chamados_tecnico.js"></script>
</body>

</html>