<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de máquinas</title>
    <link rel="stylesheet" href="/templates/assets/css/gerenciamento_de_maquinas_clientes.css">
</head>

<body>
    <button class="voltar">
        <figure>
            <img src="/templates/assets/img/seta_voltar.png" alt="">
        </figure>
    </button>
    <main>
        <div class="container">

            <div class="conteudo_superior">
                <h1>Suas Máquinas</h1>
                <form>
                    <div class="input-container">
                        <figure>
                            <img src="/templates/assets/img/lupa_branca.png" alt="">
                        </figure>
                        <input type="text" class="pesquisar"
                            placeholder="Busque por uma data, um código ou máquina específica!">
                    </div>
                    <button class="procurar">Procurar</button>
                </form>
            </div>


            <div class="grid_cards">
                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>

                <div class="card">
                    <h2 class="maquina">Ar condicionado</h2>
                    <P class="codigo">001</P>
                    <hr>
                    <h3 class="manutencao">Última manutenção</h3>
                    <div class="dados">
                        <div class="informacaoazul">
                            <p class="tecnico">Técnico:</p>
                            <p class="nome">José Silva de Jesus</p>
                        </div>

                        <div class="informacao">
                            <p class="servico">Serviço:</p>
                            <p class="tipo">Manutenção Preventiva</p>
                        </div>

                        <div class="informacaoazul">
                            <p class="data">Data:</p>
                            <p class="dia">10/05/2026</p>
                        </div>

                        <div class="informacao">
                            <p class="hora">Hora:</p>
                            <p class="horario">10:00</p>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="historico">Ver histórico</button>
                        <button class="chamado">Abrir chamado</button>
                    </div>

                </div>
            </div>
        </div>

    </main>
</body>

</html>