<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../templates/assets/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGEM</title>
</head>
<body>
    <main>
        <div class = "container">
            <div class = "imagem_de_fundo">
            </div>

            <div class="Cform_login">

                <figure>
                <img src=" ../templates/assets/img/seta_voltar.png" alt="seta azul">
               </figure>

                <h1>Login</h1>
                <h2>Realize o login para identificarmos você!</h2>
                
                 <figure>
                <img src=" ../templates/assets/img/linha_azul.png" alt="linha azul no form">
                </figure>

                <form class = form_>
                    <div class="input_cpf">
                    <label for = "Cpf">CPF</label>
                    <input type="text" id="Cpf" name="Cpf" placeholder="000.000.000-00" required>
                    </div>

                    <div class="input_senha">
                    <label for = "Senha">Senha</label>
                    <input type="password" id="Senha" name="Senha" placeholder="Digite aqui a sua senha" required>
                
                    <figure class="olho1">
                    <img src="../templates/assets/img/olho_fechado.png" alt="Imagem de um olho para ocultar a senha">
                    </figure>

                     <figure class="olho2">
                    <img src="../templates/assets/img/olho_aberto.png" alt="Imagem de um olho para mostrar a senha">
                    </figure>
                    </div>

                    <div class = "btn_login">
                    <button type="submit">Entrar</button>
                    </div>
                </form>
        </div>
    </main>

    <script src="../templates/assets/js/login.js"></script>
</body>
</html>