<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrar manutenção</title>
        <link rel="stylesheet" href="../templates/assets/css/pagina_abertura_chamados.css">
    </head>
    <body>
        <header>
            <button class="botaoVoltar">
                <figure class="voltarFigure"><img src="../templates/assets/img/seta_voltar.png" alt="Seta apontando para a esquerda para voltar à página anterior" class="voltarImg"></figure>
                Realize um novo chamado
            </button>
        </header>
        <main>
            <div class="conteiner">
                <figure><img src="../templates/assets/img/fundo_chamado.png" alt="Engrenagens e ícones interconectados representando o fluxo de trabalho de gerenciamento de manutenção com análises, marcas de seleção e símbolos de fluxo de processo em um fundo de rede digital."></figure>
                <form method="POST">
                    <div class="inputs">
                        <div class="input">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome" placeholder="Insira o nome do cliente">
                        </div>
                        <div class="dataUf">
                            <div class="input">
                                <label for="data">Data</label>
                                <input type="date" name="data" id="data">
                            </div>
                            <div class="input">
                                <label for="uf">UF</label>
                                <input type="text" name="uf" id="uf" maxlength="2" placeholder="Estado">
                            </div>
                        </div>
                        <div class="input">
                            <label for="cidade">Cidade (localização do chamado)</label>
                            <input type="text" name="cidade" id="cidade" placeholder="Insira a cidade do chamado">
                        </div>
                        <div class="input">
                            <label for="descricao">Descrição</label>
                            <textarea name="descricao" id="descricao" placeholder="Descreva brevemente o problema apresentado"></textarea>
                        </div>
                        <div class="input">
                            <label for="fotos">Fotos</label>
                            <button id="botaoFotos" name="botaoFotos">Selecione fotos da manutenção</button>
                            <input type="file" name="fotos" id="fotos" accept="image/*" multiple>
                        </div>
                        <div class="grid"></div>
                    </div>
                    <button class="enviar" id="enviar" type="submit">Enviar</button>
                </form>
            </div>
        </main>
        <script src="../templates/assets/js/pagina_abertura_chamados.js"></script>
    </body>
</html>