<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PMOC - 001</title>
        <link rel="stylesheet" href="../templates/assets/css/pagina_visualizacao_pmoc.css">
    </head>
    <body>
        <header>
            <button class="voltar">
                <figure class="voltarFigure">
                    <img class="voltarImg" src="../templates/assets/img/seta_voltar.png" alt="">
                </figure>
                Voltar
            </button>
        </header>
        <main>
            <div class="fundoPmoc">
                <div class="tituloPmoc">
                    <h1>Visualizar PMOC</h1>
                    <p>Máquina 001</p>
                </div>
                <div class="informacoes">
                    <div class="informacao">
                        <p class="titulo">Nome da máquina</p>
                        <p class="conteudo">Ar condicionado</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Nome do cliente</p>
                        <p class="conteudo">UNEB</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Responsável acompanhando</p>
                        <p class="conteudo">Ana Luisa Vidal</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Capacidade térmica de refrigeração</p>
                        <p class="conteudo">12.000 BTU</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Localização</p>
                        <p class="conteudo">BA-512, s/n - Santo Antônio, Camaçari - BA</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Modelo</p>
                        <p class="conteudo">Inverter</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Marca</p>
                        <p class="conteudo">Consul</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Fluido refrigerante</p>
                        <p class="conteudo">R-410</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Nome do técnico</p>
                        <p class="conteudo">Miguel Jesus da Silva</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Descrição de serviço</p>
                        <p class="conteudo">Limpeza de filtros, bandeja de condensa...</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Tipo de serviço</p>
                        <p class="conteudo">Manutenção preventiva</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Pressão aferida</p>
                        <p class="conteudo">128 PSI</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Testes e finalização</p>
                        <p class="conteudo">Medição de pressão</p>
                    </div>
                    <div class="informacao2">
                        <p class="titulo">Data e hora</p>
                        <p class="conteudo">12/04/2026</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">Fotos</p>
                        <p class="conteudo">Clique aqui para baixar</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>