<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de clientes</title>
    <link rel="stylesheet" href="/templates/assets/css/pagina_acompanhamento_chamados_cliente.css">
</head>

<body>
    <main>
        <div class="container">

            <div class="conteudo_superior">
                <h1>Seus chamados</h1>
                <form>
                    <div class="input-container">
                        <figure>
                            <img src="/templates/assets/img/lupa_branca.png" alt="">
                        </figure>
                        <input type="text" class="pesquisar"
                            placeholder="Busque pela data ou Código da Máquina!">
                    </div>
                    <button class="procurar">Procurar</button>
                </form>
            </div>

            <button class="criarCliente"><figure><img src="../templates/assets/img/adicao_roxo.png" alt=""></figure>Abrir chamado</button>

            <div class="cards">
                <div class="card">
                    <div class="d1">
                        <p class="status">Status: <span>Em aberto</span></p>
                        <p class="data">Data: 14/04/2026</p>
                    </div>
                    <div class="d2">
                        <p class="codigo">Código da máquina: 055</p>
                        <p class="nomeDaMaquina"><span>Nome da maquina:</span> Ar condicionado</p>
                    </div>
                    <p class="tituloDescricao">Descrição do Problema</p>
                    <div class="d3">
                        <p class="descricao">A máquina está apresentando falhas durante o funcionamento, com interrupções inesperadas no processo e ruídos incomuns.</p>
                        <button class="cancelar">Cancelar</button>
                    </div>
                    <div class="grid">
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                    </div>
                </div>
                <div class="card">
                    <div class="d1">
                        <p class="status">Status: <span>Em aberto</span></p>
                        <p class="data">Data: 14/04/2026</p>
                    </div>
                    <div class="d2">
                        <p class="codigo">Código da máquina: 055</p>
                        <p class="nomeDaMaquina"><span>Nome da maquina:</span> Ar condicionado</p>
                    </div>
                    <p class="tituloDescricao">Descrição do Problema</p>
                    <div class="d3">
                        <p class="descricao">A máquina está apresentando falhas durante o funcionamento, com interrupções inesperadas no processo e ruídos incomuns.</p>
                        <button class="cancelar">Cancelar</button>
                    </div>
                    <div class="grid">
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                    </div>
                </div>
                <div class="card">
                    <div class="d1">
                        <p class="status">Status: <span>Em aberto</span></p>
                        <p class="data">Data: 14/04/2026</p>
                    </div>
                    <div class="d2">
                        <p class="codigo">Código da máquina: 055</p>
                        <p class="nomeDaMaquina"><span>Nome da maquina:</span> Ar condicionado</p>
                    </div>
                    <p class="tituloDescricao">Descrição do Problema</p>
                    <div class="d3">
                        <p class="descricao">A máquina está apresentando falhas durante o funcionamento, com interrupções inesperadas no processo e ruídos incomuns.</p>
                        <button class="cancelar">Cancelar</button>
                    </div>
                    <div class="grid">
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                    </div>
                </div>
                <div class="card">
                    <div class="d1">
                        <p class="status">Status: <span>Em aberto</span></p>
                        <p class="data">Data: 14/04/2026</p>
                    </div>
                    <div class="d2">
                        <p class="codigo">Código da máquina: 055</p>
                        <p class="nomeDaMaquina"><span>Nome da maquina:</span> Ar condicionado</p>
                    </div>
                    <p class="tituloDescricao">Descrição do Problema</p>
                    <div class="d3">
                        <p class="descricao">A máquina está apresentando falhas durante o funcionamento, com interrupções inesperadas no processo e ruídos incomuns.</p>
                        <button class="cancelar">Cancelar</button>
                    </div>
                    <div class="grid">
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado1.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado2.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado3.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado4.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado5.png" alt=""></figure>
                        <figure><img src="../templates/assets/img/img-chamado6.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>

    </main>
<script src="/templates/assets/js/pagina_acompanhamento_chamados_cliente.js"></script>
</body>

</html>