<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de clientes</title>
    <link rel="stylesheet" href="/templates/assets/css/pagina_gerenciamento_clientes.css">
</head>

<body>
    <aside class="menu_lateral">

        <nav>
            <div class="menu_perfil">
                <button class="btn_perfil">
                    <div class="circuloperfil">
                        <figure>
                            <img src="/templates/assets/img/menu-perfil.png" alt="Imagem circular de um usuário
                     genérico para simbolizar o perfil">
                        </figure>
                    </div>
                    <p>Administrador</p>
                </button>
            </div>

            <div class="menu_home">
                <button class="btn_home">

                    <figure>
                        <img src="/templates/assets/img/menu-home.png" alt="casa azul claro">
                    </figure>

                    <p>Home</p>

                </button>
            </div>

            <div class="menu_maquinas">
                <button class="btn_maquinas">

                    <figure>
                        <img src="/templates/assets/img/menu-maquinas.png" alt="Máquina cinza ilustrativa">
                    </figure>

                    <p>Máquinas</p>
                </button>
            </div>

            <div class="menu_clientes">
                <button class="btn_clientes">

                    <figure>
                        <img src="/templates/assets/img/menu_clientes_azul.png" alt="Imagem ilustrativa de uma medalha
                         em torno do ícone de um cliente">
                    </figure>

                    <p>Clientes</p>
                </button>
            </div>

            <div class="menu_chamados">
                <button class="btn_chamados">

                    <figure>
                        <img src="/templates/assets/img/menu-chamados.png" alt="Imagem ilustrativa de um telefone">
                    </figure>

                    <p>Chamados</p>
                </button>
            </div>

            <div class="menu_manutencoes">
                <button class="btn_manutencoes">

                    <figure>
                        <img src="/templates/assets/img/menu-manutencao.png"
                            alt="Imagem ilustrativa de uma engrenagem ao lado de uma ferramenta">
                    </figure>

                    <p>Manutenções</p>
                </button>
            </div>

            <div class="menu_pecas">
                <button class="btn_pecas">
                    <figure>
                        <img src="/templates/assets/img/menu-pecas.png"
                            alt="Imagem ilustrativa de uma ciaxa de ferramenta">
                    </figure>

                    <p>Solicitações de peças</p>
                </button>
            </div>

            <div class="menu_tecnicos">
                <button class="btn_tecnicos">

                    <figure>
                        <img src="/templates/assets/img/menu-tecnico.png"
                            alt="Imagem ilustrativa de um homem com um capacete de EPI">
                    </figure>

                    <p>Técnicos</p>
                </button>
            </div>

            <div class="menu_logout">
                <button class="btn_logout">

                    <figure>
                        <img src="/templates/assets/img/menu-logout.png" alt="Imagem ilustrativade uma porta aberta 
                        com uma seta indicando a saída">
                    </figure>

                    <p>Logout</p>
                </button>
            </div>
        </nav>
    </aside>

    <main>
        <div class="container">

            <div class="conteudo_superior">
                <h1>Clientes</h1>
                <form>
                    <div class="input-container">
                        <figure>
                            <img src="/templates/assets/img/lupa_branca.png" alt="">
                        </figure>
                        <input type="text" class="pesquisar"
                            placeholder="Busque por um nome, UF, Cidade ou CNPJ!">
                    </div>
                    <button class="procurar">Procurar</button>
                </form>
            </div>

            <button class="criarCliente"><figure><img src="../templates/assets/img/adicao.png" alt=""></figure>Novo cliente</button>

            <div class="cards">
                <div class="card">
                    <div class="informacao">
                        <p class="titulo">Nome</p>
                        <p class="dado">UNEB</p>
                        <p class="titulo">UF</p>
                        <p class="dadoCFundo">BA</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">CNPJ</p>
                        <p class="dado">AB.123.CDE/0001-XY</p>
                        <p class="titulo">Cidade</p>
                        <p class="dadoCFundo">Camaçari</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">E-mail</p>
                        <p class="dado">Uneb.ba@gmail.com</p>
                        <div class="botoes">
                            <button class="editar">Editar</button>
                            <button class="excluir">Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="informacao">
                        <p class="titulo">Nome</p>
                        <p class="dado">UNEB</p>
                        <p class="titulo">UF</p>
                        <p class="dadoCFundo">BA</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">CNPJ</p>
                        <p class="dado">AB.123.CDE/0001-XY</p>
                        <p class="titulo">Cidade</p>
                        <p class="dadoCFundo">Camaçari</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">E-mail</p>
                        <p class="dado">Uneb.ba@gmail.com</p>
                        <div class="botoes">
                            <button class="editar">Editar</button>
                            <button class="excluir">Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="informacao">
                        <p class="titulo">Nome</p>
                        <p class="dado">UNEB</p>
                        <p class="titulo">UF</p>
                        <p class="dadoCFundo">BA</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">CNPJ</p>
                        <p class="dado">AB.123.CDE/0001-XY</p>
                        <p class="titulo">Cidade</p>
                        <p class="dadoCFundo">Camaçari</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">E-mail</p>
                        <p class="dado">Uneb.ba@gmail.com</p>
                        <div class="botoes">
                            <button class="editar">Editar</button>
                            <button class="excluir">Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="informacao">
                        <p class="titulo">Nome</p>
                        <p class="dado">UNEB</p>
                        <p class="titulo">UF</p>
                        <p class="dadoCFundo">BA</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">CNPJ</p>
                        <p class="dado">AB.123.CDE/0001-XY</p>
                        <p class="titulo">Cidade</p>
                        <p class="dadoCFundo">Camaçari</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">E-mail</p>
                        <p class="dado">Uneb.ba@gmail.com</p>
                        <div class="botoes">
                            <button class="editar">Editar</button>
                            <button class="excluir">Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="informacao">
                        <p class="titulo">Nome</p>
                        <p class="dado">UNEB</p>
                        <p class="titulo">UF</p>
                        <p class="dadoCFundo">BA</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">CNPJ</p>
                        <p class="dado">AB.123.CDE/0001-XY</p>
                        <p class="titulo">Cidade</p>
                        <p class="dadoCFundo">Camaçari</p>
                    </div>
                    <div class="informacao">
                        <p class="titulo">E-mail</p>
                        <p class="dado">Uneb.ba@gmail.com</p>
                        <div class="botoes">
                            <button class="editar">Editar</button>
                            <button class="excluir">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
<script src="/templates/assets/js/pagina_gerenciamento_clientes.js"></script>
</body>

</html>