<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/assets/css/pagina_inicial.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="imagem_de_fundo">
            </div>

            <div class="Cform_">
                <h1>Bem-vindo!</h1>
                <h2>Identifique a máquina que deseja consultar</h2>

                <figure>
                    <img src=" ../templates/assets/img/linha_azul.png" alt="linha azul no form">
                </figure>

                <form class=form_>
                    <div class="input_codigo">
                        <label for="Codigo">Código</label>
                        <input type="text" id="Codigo" name="Codigo" placeholder="0000" required>
                    </div>

                    <div class="btn_login">
                        <button type="submit">Enviar!</button>
                    </div>

                    <p class = texto1>A máquina ainda não foi cadastrada?</p>
                    <p class = texto2>Realize o cadastro!</p>


                    <figure>
                    <img src=" ../templates/assets/img/logo.png" alt="Logo">
                </figure>


                    <button type="button" class="btn_login" onclick="window.location.href='login.html'">Login</button>


            <div class = "container_bloque_img"
            

                    </div>
                </form>
            </div>







    </main>
    <script src="../templates/assets/js/pagina_inicial.js"></script>
</body>

</html>