<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../templates/assets/css/pagina_principal_do_tecnico.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal do Técnico</title>
</head>

<body>
    <header>
        <div class="logoutDiv">
            <figure class="logout">
                <img src="../templates/assets/img/menu-logout.png" alt=" icone de logout">
            </figure>
            <p>Logout</p>
        </div>


        <figure class="logo">
            <img src="../templates/assets/img/logo.png" alt=" icone da logo da empresa">
        </figure>

        <div class="btn_cadastrar_nv_maquina">
            <button class="cadastrarBtn" type="button" onclick="window.location.href='cadastro.html'">
                <img src="../templates/assets/img/icone_nova_maq.png" alt="Icone de Cadastro de Nova maquina"
                    class="icone_nova_maquina">
                Cadastrar nova Máquina
            </button>
            <button class="perfilBtn">
                <figure class="perfil_tec">
                    <img src="../templates/assets/img/perfiltec.png" alt=" icone de Perfil do Tecnico">
                </figure>
                Perfil
            </button>
        </div>
    </header>

    <main>

        <div class="texto_e_fotohomem">

            <div class="textoprincipal">
            <figure class="decoracao_seta">
                <img src="../templates/assets/img/decoracao.png" alt=" decoração de setas para baixo">
            </figure>
            <div class="decoracao_consulta">
                <div class="textoCima">

                    <h1>Consulte os dados dos Chamados abertos pelos clientes</h1>
                </div>

                <button type="button" onclick="window.location.href='acompanhamento_de_chamados.html' "
                    class="consultas">Consultar
                </button>
            </div>                
            </div>


            <figure class="fundoPng">
                <img src="../templates/assets/img/fundo.png" alt=" Foto do homem anotando">
            </figure>
        </div>



        <div class="containertextos_e_dicas">
            <div class="padding">
                <h3>Dicas Importantes</h3>
            </div>
            <div class="caixas">
                <div class="caixa_roxa">
                    <div class="dica">
                        <figure class="raio_dec">
                            <img src="../templates/assets/img/raio.png" alt=" icone de raio">
                        </figure>
                        <p>Leia atentamente o chamado</p>
                    </div>

                    <div class="dica">
                        <figure class="raio_dec">
                            <img src="../templates/assets/img/raio.png" alt=" icone de raio">
                        </figure>
                        <p>Clique em “Responsabilizar-se” antes de ir para o campo</p>
                    </div>

                    <div class="dica">
                        <figure class="raio_dec">
                            <img src="../templates/assets/img/raio.png" alt=" icone de raio">
                        </figure>
                        <p>Lembre de atualizar o status do chamado quando acabar </p>
                    </div>

                </div>

                <div class="texto">
                    <h2><span>Startech</span> entrega a ferramenta, você entrega a solução!</h2>
                </div>
            </div>

        </div>

        <div class="containertextos_e_dicas2">
            <h2><span>Startech</span> entrega a ferramenta, você entrega a solução!</h2>
            <h3>Dicas Importantes</h3>
            <div class="caixa_roxa">
                <div class="dica">
                    <figure class="raio_dec">
                        <img src="../templates/assets/img/raio.png" alt=" icone de raio">
                    </figure>
                    <p>Leia atentamente o chamado</p>
                </div>

                <div class="dica">
                    <figure class="raio_dec">
                        <img src="../templates/assets/img/raio.png" alt=" icone de raio">
                    </figure>
                    <p>Clique em “Responsabilizar-se” antes de ir para o campo</p>
                </div>

                <div class="dica">
                    <figure class="raio_dec">
                        <img src="../templates/assets/img/raio.png" alt=" icone de raio">
                    </figure>
                    <p>Lembre de atualizar o status do chamado quando acabar </p>
                </div>

            </div>
        </div>

    </main>
    <script src="../templates/assets/js/pagina_principal_do_tecnico.js"></script>

</body>

</html>