<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../templates/assets/css/principal_tecnico.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal do Técnico</title>
</head>

<body>
    <header>

        <div class="cabeçalho">

            <figure class="logout">
                <img src="../templates/assets/img/menu-logout.png" alt=" icone de logout">
            </figure>
            <p>Logout</p>


            <figure class="logo">
                <img src="../templates/assets/img/logo.png" alt=" icone da logo da empresa">
            </figure>

            <div class="btn_cadastrar_nv_maquina">
                <button type="button" onclick="window.location.href='cadastro.html'">
                    <img src="../templates/assets/img/icone_nova_maq.png" alt="Icone de Cadastro de Nova maquina"
                        class="icone_nova_maquina">
                    Cadastrar nova Máquina
                </button>

                <figure class="perfil_tec">
                    <img src="../templates/assets/img/perfiltec.png" alt=" icone de Perfil do Tecnico">
                </figure>
                <p>Perfil</p>
            </div>
    </header>

    <main>

        <div class="texto_e_fotohomem">

            <div class="decoracao_consulta">
                <figure class="decoracao_seta">
                    <img src="../templates/assets/img/decoracao.png" alt=" decoração de setas para baixo">
                </figure>
                
                <h1>Consulte os dados dos Chamados abertos pelos clientes</h1>
                <button type="button" onclick="window.location.href='acompanhamento_de_chamados.html' "
                    class="consultas">Consultar</button>
            </div>

            <figure class="fundo.png">
                <img src="../templates/assets/img/fundo.png" alt=" Foto do homem anotando">
            </figure>
        </div>



        <div class="containertextos_e_dicas">
            <h3>Dicas Importantes</h3>

            <div class="caixa_roxa">
                <div class="dica1">
                    <figure class="raio_dec1">
                        <img src="../templates/assets/img/raio1.png" alt=" icone de raio 1">
                    </figure>
                    <p>Leia atentamente o chamado</p>
                </div>

                <div class="dica2">
                    <figure class="raio_dec2">
                        <img src="../templates/assets/img/raio2.png" alt=" icone de raio 2">
                    </figure>
                    <p>Clique em “Responsabilizar-se” antes de ir para o campo</p>
                </div>

                <div class="dica3">
                    <figure class="raio_dec3">
                        <img src="../templates/assets/img/raio3.png" alt=" icone de raio 3">
                    </figure>
                    <p>Lembre de atualizar o status do chamado quando acabar </p>
                </div>

            </div>

            <div class="texto">
                <h2>Startech entrega a ferramenta, você entrega a solução!</h2>
            </div>

        </div>

    </main>
    <script src="../templates/assets/js/principal_tecnico.js"></script>

</body>

</html>