<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/assets/css/Pagina-cadastro-nova-máquina.css">
    <title>Cadastro de Máquina</title>
</head>
<body>
    <header>
        <div class="voltar_header">
            <figure>
                <img src="../templates/assets/img/seta_voltar.png" alt="Voltar">
            </figure>
            
            <h1>Voltar</h1>
        </div>
    </header>
        
    <main>
        <div class="form_main">

            <h1>Cadastrar nova máquina</h1>
            <p>Insira todas as informações abaixo para realizar o cadastro de uma nova máquina</p>
            
            <form>
                <h2>Nome da máquina</h2>
                <input type="text" name="nome_maquina" id="nome_maquina" placeholder="Insira o nome da nova máquina">
                
                <h2>Nome do cliente</h2>
                <input type="text" name="nome_cliente" id="nome_cliente" placeholder="Insira o nome do cliente">
                
                <h2>Capacidade térmica de refrigeração (BTUs)</h2>
                <input type="text" name="capacidade_termica" id="capacidade_termica" placeholder="Insira a capacidade térmica">
                
                <h2>Localização</h2>
                <input type="text" name="localizacao" id="localizacao" placeholder="Informe a localização">
                
                <h2>Modelo</h2>
                <input type="text" name="modelo" id="modelo" placeholder="Informe o modelo da máquina">
                
                <h2>Marca</h2>
                <input type="text" name="marca" id="marca" placeholder="Informe a marca da máquina">
                
                <h2>Fluído Refrigerante</h2>
                <input type="text" name="fluido_refrigerante" id="fluido_refrigerante" placeholder="Informe o fluido refrigerante da máquina">
                
                <h2>Data de registro</h2>
                <input type="text" name="data_registro" id="data_registro" placeholder="Informe a data de registro">
                
            </form>
            
            <div class="botoes_form">
                <button>Cancelar</button>
                <button type="submit">Cadastrar</button>
            </div>
        </div>
        </main>
        
        <footer>
            
        </footer>
</body>
    </html>