<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/assets/css/Página-visualização-do-código.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="container_header">
            <div class="logout">
                <figure>
                    <img src="../templates/assets/img/menu-logout.png" alt="Logout">
                </figure>
                <h1>Logout</h1>
            </div>

            <div class="perfil">
                <figure>
                    <img src="../templates/assets/img/perfiltec.png" alt="Perfil">
                </figure>
                <h1>Perfil</h1>
            </div>

            <figure class="startech">
                <img src="../templates/assets/img/logo-startech.png" alt="StarTech">
            </figure>
        </div>
    </header>


    <main>
        <div class="container">
            <div class="container_informacoes">
                <div class="titulo_seta">
                    <h1>Acompanhe os seus chamados em andamento</h1>
                    
                    <figure>
                        <img src="../templates/assets/img/seta-lado.png" alt="Seta para o lado">
                    </figure>
                </div>

                <div class="botoes">    
                    <button class="consultar">Consultar</button>
                    <button class="maquinas">Minhas máquinas</button>
                </div>

            </div>

            <div class="container_imagem">
                <figure>
                    <img src="../templates/assets/img/icone-main-principal-cliente.png" alt="">
                </figure>
            </div>
        </div>
    </main>

    <footer>
        <div class="container_footer">
                <h3>O primeiro passo foi seu. O próximo a <span>StarTech</span> te mostra!</h3>

            <div class="card_dica">
                <div class="dicas_importantes">
                    <h2>Dicas importantes</h2>
                </div>

                <div class="texto_card">
                    <h1>⚡ O chamado será atendido em até 48 horas </h1>
                    <h1>⚡ Acompanhe o status do chamado</h1>
                    <h1>⚡ Para mais informações, acesse o histórico de manuntenções</h1>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>