<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrar manutenção</title>
        <link rel="stylesheet" href="../templates/assets/css/registro_nova_manutencao.css">
    </head>
    <body>
        <header>
            <button><figure class="voltarFigure"><img src="" alt="" class="voltarImg"></figure>Voltar</button>
            <nav>
                <p>Histórico</p>
                <p>Cadastrar nova máquina</p>
            </nav>
        </header>
        <main>
            <form method="POST">
                <h3>Máquina 001</h3>
            </form>
        </main>
    </body>
</html>