<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrar manutenção</title>
        <link rel="stylesheet" href="../templates/assets/css/registro_nova_manutencao.css">
    </head>
    <body>
        <header>
            <button class="botaoVoltar">
                <figure class="voltarFigure"><img src="../templates/assets/img/seta_voltar_semfundo.png" alt="Seta apontando para a esquerda para voltar à página anterior" class="voltarImg"></figure>
                Voltar
            </button>
            <nav>
                <p>Histórico</p>
                <p>Cadastrar nova máquina</p>
            </nav>
        </header>
        <main>
            <form method="POST">
                <h3>Máquina 001</h3>
                <h1>Registrar nova manutenção</h1>
                <p>Nos mantenha informados sobre as manutenções realizadas!</p>
                <div class="inputs">
                    <div class="input">
                        <label for="nome_tecnico">Nome do técnico</label>
                        <input class="inputTexto" type="text" id="nome_tecnico" name="nome_tecnico" placeholder="Insira o nome do técnico">
                    </div>
                    <div class="input">
                        <label for="tipo_servico">Tipo de serviço</label>
                        <select name="tipo_servico" id="tipo_servico">
                            <option value="placeholder" selected>Insira o tipo de serviço</option>
                            <option value="instalacao">Instalação</option>
                            <option value="manutencao_corretiva">Manutenção corretiva</option>
                            <option value="manutencao_preventiva">Manutenção preventiva</option>
                            <option value="inspecao">Inspeção</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="descricao_servico">Descrição do serviço</label>
                        <input class="inputTexto" type="text" id="descricao_servico" name="descricao_servico" placeholder="Insira a descrição do serviço">
                    </div>
                    <div class="input">
                        <label for="pressao">Pressão aferida (PSI)</label>
                        <input class="inputTexto" type="number" id="pressao" name="pressao" placeholder="Informe a pressão aferida">
                    </div>
                    <div class="input">
                        <label for="testes_finalizacao">Testes e finalização</label>
                        <input class="inputTexto" type="text" id="testes_finalizacao" name="testes_finalizacao" placeholder="Selecione a finalização do serviço">
                    </div>
                    <div class="input">
                        <label for="data_hora">Data e hora</label>
                        <input class="inputDataHora" type="datetime-local" id="data_hora" name="data_hora" placeholder="Informe a data e hora da manutenção">
                    </div>
                    <div class="input">
                        <label for="fotos">Fotos</label>
                        <button id="botaoFotos" name="botaoFotos">Selecione fotos da manutenção</button>
                        <input type="file" name="fotos" id="fotos">
                    </div>
                    <div class="grid"></div>
                </div>
                <div class="botoes">
                    <button class="cancelar">Cancelar</button>
                    <button class="enviar" type="submit">Enviar</button>
                </div>
            </form>
        </main>
    </body>
</html>